.footer-modal {
    display: flex;
    justify-content: center;
}

.btn-save,
.btn-cancel {
  width: 132px;
  height: 48px;
  border-radius: 8px;
  padding-right: 40px;
  padding-left: 40px;
  margin: 0px 16px;
  cursor: pointer;
  font-weight: 600;
}

.btn-save{
    background-color: #EE0033;
    color: white;
    border: 1px solid #EE0033;
}

.btn-cancel{
    background-color: white;
    color: #2C3237;
    border: 1px solid #eeeeee;
}

.modal-custom .ant-modal-close{
    position: absolute !important;
    top: -10px !important;
    left: 97.3%;
    background-color: #ffffff !important;
    border-radius: 50% !important;
    padding: 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000 !important;
}


.modal-custom.ant-modal .ant-modal-close-x{
    font-size: 12px !important;
}

.modal-custom .ant-modal-content{
    padding: 0 !important;
}

.modal-custom .ant-modal-header{
    background-color: #F3F3F3 !important;
}

.modal-custom .ant-modal-title{
    padding: 8px 32px;
    font-size: 20px;
    font-weight: 600;
}

.modal-custom .ant-modal-body{
    padding: 32px 32px 0px 32px;
}

.modal-custom .ant-modal-footer{
    padding: 24px 0px;
}